
.snow{
    position: absolute;
    height: 0.23rem;
    width: 0.23rem;
    border-radius: 50%;
    background-color: #fff;
    top: 0;
    
    opacity: 0;
   
   
}
@keyframes snowfall{
    from{
        opacity: 0.3;
        top: 0;
        transform: rotateX(0deg);

    }
    to{
        opacity: 0.8;
        top: 100%;
        transform: rotateZ(360deg);
    }
}

@keyframes rotate{
    from{
        transform: rotateX(0deg);
        }
    to{
        transform: rotateZ(360deg);
    }
}
