body {
  margin: 0;
  overflow: hidden;
  position: relative;
  z-index: -1; /* Set the z-index to position the snowfall behind the content */
}

.snowflakes {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.snowflake {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  opacity: 0.7;
  animation: snowfall linear infinite;
}

@keyframes snowfall {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100vh);
  }
}
