<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,300&display=swap" rel="stylesheet">
    <title>Fuzzfeed</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='snowflake.css') }}">
</head>
<body>
<header>
    <nav>
        <div id="logo">
            Fuzzfeed
        </div>
        <ul>
            <li>Start</li>
        </ul>
    </nav>
</header>

<main>
    <div class="fuzzfeed-text">
        <h1>Fuzzfeed</h1>
        <div class="button"></div>
            <div class="button">Start</div>
    </div>

</main>
</body>
<script src="app.py"></script>
</html>
