<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js"></script>
    <!-- Your other styles -->
</head>
<body>
    <header>
        <h1>Hi, welcome to Team AC's Personality Quiz!</h1>
        <img id="me" src="/static/images/christmas quiz.jpeg" alt="DESCRIPTION" width="450" height="470">
    </header>

    <nav>
        <ul>
            <li>
                <a href="questionone.html">Quiz page</a>
            </li>
        </ul>
    </nav>

    <main>
        <p class="CS110">Click the 'Quiz Page' link to start answering questions! Discover which one of five personalities is yours!</p>
        <div class="snow_wrap">
            <div class="snow"></div>
        </div>
    </main>
</body>
</html>