<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js"></script>
<body>
<header>
  <center>
<h1>Hi, welcome to Team AC's Personality Quiz! </h1>
  </center>
  <img id="me"src="/static/images/christmas quiz.jpeg" alt="DESCRIPTION"width="450" height="470">
  <center>
 </header>
<center>
  <style>
    /* Remove list-style from the unordered list */
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    /* Optional: If you want to remove the default link styles */
    li {
        text-decoration: none;
    }
</style>
  <nav>
    <ul>
      <li> 
        <a href="/templates/questionone.html">Quiz page</a>
      </li>
    </ul>
  </nav>
   </center> 
  <main>
 <p class="CS110">Click the 'Quiz Page' link to start answering questions! Discover which one of five personalities is yours! <!--change class name--></p>
 <div class="snow_wrap">
  <div class="snow"></div>
  </main>

</body>
</html>
