/* STYLE SECTIONING TAGS */

body {
    background-color: #592941ff;
    font-family: "Raleway", sans-serif;
    margin: 2em;
  }
  
  /* STYLE TEXT */
  h1 {
    text-align: center;
    font-style: italic;
    color: #b98368ff;
  }
  p{
    color: #b98368ff;
    font-family:"Roboto Mono", monospace;
  }
  
  
  main{
    text-align: center;
    color: #6cbc95ff;
    font-family: "Raleway",sans-serif;
  }
  
  h2 {
    text-align: center;
    font-family: "raleway", sans-serif;
    font-style: italic;
    margin-top: 2em; 
  }
  
  /* STYLE FLEX CONTAINER */
  .question {
    display: flex;
    /* uncomment the next line to center the questions and answers */
    /* justify-content: center; */
    margin-top: 2em;
  }
    
  /* STYLE FLEX ITEM */
  .answer-choice {
    margin: 5px;
  }
  
  /* STYLE IMAGES */
  .answer-choice img {
    height: 10em;
  }
  
  /* STYLE BUTTON */
  button { 
    font-family:"Roboto Mono", monospace;
    color: #296a5aff;
    
    margin-top: 5px;
  }